.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.orderSummary{
    background-color: antiquewhite;
    position: sticky;
}